<div class="col-xs-2">
</div>
<div class="col-xs-10">
  <%= render 'layouts/user_circles_memoryForm' %>
</div>
<div class="row">
  <div class="col-xs-2">
    <h4>Your Circles</h4>
    <%= render 'layouts/user_circles' %>
  </div>
  <div class="col-xs-10">
    <h4>Memories from your Circles</h4>
    <%= render 'layouts/memory' %>
  </div>
</div>
