<table>
  <tr>
    <th>Picture</th>
    <th>User Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.profilePicture_url(:small_thumb).to_s if user.profilePicture %>
    <td><%= user.userName is user.userName %></td>
    <td><%= link_to 'Profile', user %></td>
    <% end %>
  </tr>
</table>



