<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feedback_rating.name %>
</p>


<%= link_to 'Edit', edit_feedback_rating_path(@feedback_rating) %> |
<%= link_to 'Back', feedback_ratings_path %>
