<% @results.each do |result| %>
  <% case result.class.to_s %>
    <% when "Recipe" %>
      <li><%= link_to result.name, recipe_path(result.id) %></li>
    <% when "User" %>
      <li><%= link_to result.email, user_path(result.id) %></li>
    <% when "Circle" %>
    <li><%= link_to result.name, circle_path(result.id) %></li>  
    <% end %>
    <% end %>
