<div class="row">
  <div class="col-xs-12 col-lg-6">
    <% if @fridge %>
      <% @fridge.each do |fridge| %>
        <%= fridge.ingredient %> <br>
      <% end %>
    <% else %>
      <h1>Add an ingredient!</h1>
    <% end %>
  </div>
</div>
