<h1>Listing fridge_ingredients</h1>

<table>
  <tr>
    <th>Drink</th>
  </tr>
<% if @user.fridge_ingredients %>
  <% @user.fridge_ingredients.each do |fridge_ingredient| %>
    <tr>
      <td><%= fridge_ingredient.ingredient.name %></td>
      <td><%= link_to 'Remove', fridge_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'New Fridge ingredient', new_fridge_ingredient_path %>
<% else %>
<%= link_to 'New Fridge ingredient', new_fridge_ingredient_path %>
<% end %>


