<div class="container-fluid wrapper wrapper-home black">

  <div class="col-xs-6 col-sm-6 col-lg-6">
    <div class="well">
      <h1>Add Drinks</h1>
      <%= render 'form' %>
    </div>
    <div class="well">
      <h1>Your Bar</h1>

      <%= render 'layouts/fridge_ingredients_list' %>

    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6">
    <div class="well">
      <h1>Try These Drinks</h1>

      <%= render 'layouts/youshouldcheckout' %>
    </div>





  </div>
</div>
