<div class="col-xs-2 col-sm-2">
  <h1>Add Drinks</h1>
  <%= render 'form' %>
  <h1>Your Bar</h1>
  <%= render 'layouts/fridge_ingredients_list' %>
</div>
<div class="col-xs-7 col-sm-7">
  <h1>A stream about what different drinking circles are doing, events that are happening, badges that are being awarded 
    new drinks being made, and events being created.</h1>
</div>
<div class="col-xs-3 col-sm-3">
    <% unless @fridge_ingredients.count == 0 %>
    <h1>Try These Drinks</h1>
    <%#= possible_recipes(@fridge_ingredients, @recipe_ingredients) %>
    <%= render 'layouts/youshouldcheckout' %>
    <% else %>
    Add Some Ingredients to Get recommendations for drink recipes!
  <% end %>
  <h1>Make These Drinks With Your Friends:</h1>
  <ul>
    <li>Example</li>
    <li>Example2</li>
    <li>Example3</li>
  </ul>
</div>

