<div class="col-xs-6 col-sm-6 col-lg-6">
  <h1>Add A Fridge Ingredient</h1>
  <%= render 'form' %>
  <br>
  <br>
  <%= render 'layouts/fridge_ingredients_list' %>
</div>
<div class="col-xs-6 col-sm-6 col-lg-6">
  <h1>Drinks you might want to check out</h1>
</div>
