body {
    color: #404040;
    background-color: #CF3F3F;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.profile-image
{
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    border-radius: 20px;
}



.list-profile-image
{
    /*  @media (max-width: @screen-xs)
      {/
        width: 25px;
        height: 25px;
        border-radius: 5px;
    /  }
      @media (min-width: @screen-sm)
      { */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /*  } */
}

.user-name
{
    font-size: 18px;
    color: #000000;
}

.user-location
{
    font-style: italic;
}

a:visited.btn,  a:link.btn
{
    color: #0f0f0f;
}

a:hover.btn
{
    color: #0f0f0f;
}

a.link-text
{
    color: #404040;
}

a.btn-default, a:visited.btn-default
{
    color: #0f0f0f;
}

a:hover.link-text
{
    color: #808080;
    text-decoration: none;
}


.category-label
{
    display: inline-block;
    margin-top: 10px;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: rgb(43, 181, 239)
}

.category-spo
{
    background-color: rgb(255, 88, 88);
}

.category-sci
{
    background-color: rgb(180, 180, 180);
}

.category-pol
{
    background-color: rgb(77, 166, 159);
}

.category-bus
{
    background-color: rgb(151, 121, 175);
}

.category-ent
{
    background-color: rgb(148, 219, 80);
}

.metadata-text
{
    color: #808080;
}

/*
 * Custom Checkbox for Question Options
 */

input[type="radio"] {
    display: checkbox;
}

input[type="radio"] + label{
    background:url('qi_gray.png') no-repeat;
    height: 26px;
    width: 200px;
    display:inline-block;
    padding-left: 35px;

}

input[type="radio"]:checked +label {
    background:url('qi_blue.png') no-repeat;
    height: 26px;
    width: 200px;
    display:inline-block;
    padding-left: 35px;
}

input[type="radio"].correct-prediction +label {
    background:url('qi_neon.png') no-repeat;
    height: 26px;
    width: 200px;
    display:inline-block;
    padding-left: 35px;
}

input[type="radio"].wrong-prediction +label {
    background:url('qi_red.png') no-repeat;
    height: 26px;
    width: 200px;
    display:inline-block;
    padding-left: 35px;
}




.prediction-stats th
{
    vertical-align: top;
}

h3 {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #F0F0F0;
    border-bottom-color: #A0A0A0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


.top-space
{
    height: 20px;
}

a.qi-navbar-button {
    position: relative;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}


a.qi-navbar-button:link .icon-bar {
    display: block;
    width: 18px;
    height: 1px;
    border-radius: 1px;
    background-color: #808080;
    margin: 0px 0px 0px 0px;
}

a.qi-navbar-button:link .icon-vertical-bar {
    display: block;
    width: 1px;
    height: 8px;
    border-radius: 1px;
    margin: 0px 0px 0px 8px;
    background-color: #808080;
}

.nav > li > a.qi-navbar-button:hover .icon-bar,
.nav > li > a.qi-navbar-button:hover .icon-vertical-bar
{
    background-color: #FFFFFF;
}


.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
    padding-left: 10px;
    padding-right: 10px;
}