<table>
  <tr>

    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @user.fridge_ingredients %>
  <% @user.fridge_ingredients.each do |fridge_ingredient| %>
    <tr>
      <td><%= fridge_ingredient.ingredient.name %></td>

      <td><%= link_to 'Remove', fridge_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<% end %>
