<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	<li><%= image_tag 'Logo.png' %></a></li>
        <li><a href="/fridge_ingredients/new">Home</a></li>
        <li><a href="/recipes">Drinks</a></li>
	<li><a href="/recipes/new">Create New Drink</a></li>

      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</div>
