<table class="sortable">
  <tr>
    <th><%="name" %></th>
    <th><%="rating" %></th>
  </tr>



<% userIngredients = [] %>
<% @user.fridge_ingredients.each do |fridge_ingredients| %>
 <% userIngredients.push(fridge_ingredients.ingredient_id)  %>
    <% end %>


<% Recipe.all.each do |recipe|%>
    <% recipeIngredients = [] %>
    <% isIncluded = false %>
         <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
           <% recipeIngredients.push(recipe_ingredient.ingredient_id) %>
         <% end %>
    <% require 'set' %>
    <% set_userIngredients = userIngredients.to_set %>
    <% set_recipeIngredients = recipeIngredients.to_set %>
    <% isIncluded = set_recipeIngredients.subset? set_userIngredients %>


    <% if isIncluded %>




              <tr>
                <td><%= link_to recipe.name, recipe %></td>
                <td><% feedbackSum = 0.0 %>
                  <% feedbackCount = 0.0 %>
                  <% recipe.feedbacks.each do |i| %>
                      <% feedbackSum += i.rating %>
                      <% feedbackCount += 1.0 %>
                  <% end %>

                  <% if recipe.feedbacks.empty? %>
                      No feedback
                  <% else %>
                      <%= number_with_precision(feedbackSum/feedbackCount, :precision => 2)%>
                  <% end %></td>
              </tr>








    <% end %>

<% end %>

</table>